.navbar {
    padding-top: 60px;
    color: rgb(37, 68, 128);
    font-size: 28px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgb(37, 68, 128);
}

.navbar-brand {
    font-weight: 1000;
    font-size: 35px;
}

.list-unstyled {
    font-size: 15px;
}

.list-unstyled-item {
    padding: 5px 0px;
}

hr {
    border: 1px solid #0232802f;
    width: 96%
}
body {
    font-family: Optima, Arial, Helvetica, sans-serif;
    font-size: 16px
}

/* Table */
td:nth-child(2n+1) {
    white-space: nowrap;
}

table, th, td {
    table-layout: fixed;
    border-collapse: collapse;
    padding: 7px;
    border: 1px solid rgb(189, 189, 189);
    
}
Footer p {
    font-size: 12px;
    width: 80%;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


a {
    font-weight: 500;
    color: #028045f0
}

h1, h2, h3, h4 {
    color:#023280f0;
}

h5 {
    font-weight:300;
}

.image {
    @media (min-width: $on-laptop+1) {
      float:left;
    }
    display:inline-block;
    width: 140px;
    height: 140px;
    border-radius: 5%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    margin-right: 10px;
  }

#info-container {
    position: static;
}

#links {
    position: static;
}

#circle-list {
    list-style-type: circle;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

pre {
    margin-left: 1.5em;
}

/* Syntax highlighting for code blocks */

