# Hakyll
# Ignore swap files and stack/cabal output.
*.hi
*.o
*.swo
*.swp
*~
.DS_Store
TAGS
dist
tags
cabal.sandbox.config
.cabal-sandbox/
.stack-work

# Ignore test builds.
tests/Main
_cache
_store

stack*.yaml.lock

.stack-work/
*.lock
_cache/
papers/*.html
papers/*.bib
papers/*.bak
papers/*.keys
