# Hakyll
# Ignore swap files and stack/cabal output.
dist-newstyle/
*.hi
*.o
*.swo
*.swp
*~
.DS_Store
TAGS
dist
tags
cabal.sandbox.config
.cabal-sandbox/
.stack-work

# Ignore test builds.
tests/Main
_cache
_store

# Ignore temporary files
\#*
.\#*

stack*.yaml.lock

.stack-work/
_cache/
papers/*.html
papers/*.bib
papers/*.bak
papers/*.keys
_site/

# Coq artifact files
*.vo
*.glob
*.aux
*.vos
*.vok