<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="University of Pennsylvania Programming Languages Club">
  <meta name="author" content="">
  <!-- Load favicon -->
  <link rel="icon" href="/img/favicon.ico">

  <title>$title$</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="/css/pygments.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
$partial("templates/header.html")$

<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      $body$
    </div>
  </div>
</div>

$partial("templates/footer.html")$

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.slim.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
