<footer class="page-footer font-small blue pt-4">
      <strong>This is the footer now</strong>
  <div class="navbar container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
	<!-- Grid column -->
	<div class="col-md-3 mt-md-0 mt-3">
	</div>
	<div class="col-md-3 mt-md-0 mt-3">
	  <p>Contact information and stuff for footers.</p>
	</div>
	<div class="col-md-2 mt-md-0 mt-3">
	    <!-- Content -->
	  <p>Github link, maybe some other links?</p>
	</div>
	<div class="col-md-4 mt-md-0 mt-3">
	    <!-- Content -->
	  <p>Computer &amp; Information Science
	    <br>School of Engineering and Science
	    <br>University of Pennsylvania</p>
	</div>
	<!-- Grid column -->
  
	<hr class="clearfix w-100 d-md-none pb-3">
    </div>
  </div>
</footer>
