
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 text-left">
        <br><br>
        <article>
            <section class="">
           <h3 class="mt-5"> PLClub Discussion Group</h3>
           <hr>
            <br>
        <h5>$title$</h5>
        $date$<br><strong>$speaker$</strong><br>

        <p class="lead">$body$</p>
        <div align="right">
            <a href="/club">Back</a>
         </div>
            </section>
        </article>
       </div>
     </div>
 </div>
