

  <div class="container">
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-9 text-left">
        <br><br><br>
        <article>
            <section class="">
        <p class="lead"> 
        Penn PL People
        </p>
            $for(peopleGroup)$
	   <div class="row">
		    $for(people)$
		      <div class="col-lg-3 col-md-12">
				$if(headshot)$
					<img class="DISABLE-img-fluid DISABLE-mb-4" src="/img/people/$headshot$" alt="$name$" width="150px" height="150px"/>
				$else$
					<img class="DISABLE-img-fluid DISABLE-mb-4" src="/img/people/missing.jpg" alt="$name$" width="150px" height="150px"/>
				$endif$
				<ul>
				$if(url)$
					<li><a href="$url$">$name$</a> </li>
				$else$
					<li>Name: $name$</li>
				$endif$
				<li>Research: $body$</li>
				</ul>
			<br />


		      </div>
		    $endfor$
	   </div>
	    $endfor$
            </section>
        </article>
       </div>
     </div>
 </div>
