<div class="container">
<div class="row">
	<div class="col-lg-1">
	</div>
	<div class="col-lg-10 text-left">
	<h3 class="mt-5">People of PLClub</h3>
	<hr>
	<h4 class="mt-5" id="faculty">Faculty</h4>
	$for(facultyGroup)$
	<div class="mt-3 row">
		$for(faculty)$
		<div class="col-lg-2 col-md-12">
			$if(headshot)$
				<img class="img-fluid rounded mb-4" src="/img/people/$headshot$" alt="$name$" width="150px" height="150px"/>
			$else$
				<img class="img-fluid rounded mb-4" src="/img/people/missing.jpg" alt="$name$" width="150px" height="150px"/>
			$endif$
		</div>
		<div class="col-lg-10 col-md-12">
			<strong>$name$</strong> 
			$if(email)$
				[<a href="$email$">email</a>]
			$endif$
			$if(url)$
				[<a href="$url$">website</a>]
			$endif$
			<br>
			<div class="mt-2">
				$body$
			</div>
		</div>
	$endfor$
	</div>
	$endfor$
	<hr>
	<h4 id="postdoc" class="mt-5">Postdocs</h4>
	$for(postdocGroup)$
	<div class="mt-3 row">
		$for(postdoc)$
		<div class="col-lg-2 col-md-12">
			$if(headshot)$
				<img class="img-fluid rounded mb-4" src="/img/people/$headshot$" alt="$name$" width="150px" height="150px"/>
			$else$
				<img class="img-fluid rounded mb-4" src="/img/people/missing.jpg" alt="$name$" width="150px" height="150px"/>
			$endif$
		</div>
		<div class="col-lg-10 col-md-12">
			<strong>$name$</strong> 
			$if(email)$
				[<a href="$email$">email</a>]
			$endif$
			$if(url)$
				[<a href="$url$">website</a>]
			$endif$
			<br>
			<div class="mt-2">
				$body$
			</div>
		</div>
		$endfor$
	</div>
	$endfor$
	<hr>
	<h4 id="phd" class="mt-5">Ph.D. Students</h4>
	$for(studentGroup)$
	<div class="mt-3 row">
		$for(student)$
		<div class="col-lg-2 col-md-12">
			$if(headshot)$
				<img class="img-fluid rounded mb-4" src="/img/people/$headshot$" alt="$name$" width="150px" height="150px"/>
			$else$
				<img class="img-fluid rounded mb-4" src="/img/people/missing.jpg" alt="$name$" width="150px" height="150px"/>
			$endif$
		</div>
		<div class="col-lg-10 col-md-12">
			<strong>$name$</strong> 
			$if(email)$
				[<a href="mailto:$email$">email</a>]
			$endif$
			$if(url)$
				[<a href="$url$">website</a>]
			$endif$
			<br>
			<div class="mt-2">
				$body$
			</div>
		</div>
	$endfor$
	</div>
	$endfor$
	<hr>
	<h4 id="alum" class="mt-5">Alumni</h4>
	$for(alumGroup)$
	<table style="width:100%">
		
		$for(alum)$
		<tr>
			<td><a href="$website$">$name$</a>  &nbsp- $degree$, $year$<span class="year" style="color:gray"></span></td>
			<td>$where$</td>
		</tr>
		$endfor$
		<!-- </tr> -->
	</table> 
	$endfor$
	</div>
</div>
