body, h1, h2, h3, h4, p, ul, ol, dl, li, dt, dd, th, td, i, b, em, strong  { font-family: sans-serif; }

h1.section { 
color: #550000;
font-variant: small-caps;
margin-top: 0.25em; 
margin-bottom: 0.25em;
}

h2.subsection {
font-size: x-large;
margin-top: 0.25em; 
margin-bottom: 0.25em;
}

h3.subsubsection {  
font-size: large;
margin-top: 0.25em; 
margin-bottom: 0.25em;
}

h4.subsubsubsection { 
font-size: medium;
margin-top: 0.25em; 
margin-bottom: 0.25em;
}

div.section { 
margin-bottom: 1em;
}

div.subsection {
margin-bottom: 1em;
}

div.subsubsection {  
margin-bottom: 1em;
}

div.subsubsubsection { 
margin-bottom: 1em;
}

td.label { 
text-align: left;
color: #550000;
font-size: small;
}

:visited { color: #555555; } 
:link { color: #0000AA; }      
:link:hover, :visited:hover { color: #FF0000; }
:link:active, :visited:active { color: #000000; }  

h1.pagetitle { 
  background: #000000; 
  color: #FFFFFF; 
  font-family: serif; 
  font-size: x-large;
  padding: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
div.menu { 
  text-align: center;
  padding: 0.2em;
}
table.footer { 
  width: 100%;
  font-size: x-small;
  background: #000000; 
  color: #FFFFFF; 
  padding: 0.2em;
}

tr.header {
  background: #000000;
  color: #FFFFFF;
}
th.header {
  padding: 0.7em;
}
tr.cell {
  background: #FFFFEE;
  font-size: small;
}
tr.cellb {
  background: #EEFFFF;
  font-size: small;
}
td.cell {
  padding: 0.7em;
  font-size: small;
}

body { 
  background: #ADD8E6;
  color: #000000; 
}
